// $Mulish-Normal: font-family: 'Mulish', sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}