.cards-item {
  @include section-border;
  @include primary-padding;
  min-width: 258px;
  transition: .3s all ease;
  &:hover{
    border: 1px solid #3751FF;
    cursor: pointer;
  }
  &:hover &__title,
  &:hover &__count {
    color: #3751FF;
  }
  &__title {
    @include section-title;
    color: $gray;
    text-align: center;
    margin-bottom: 12px;
  }
  &__count {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #252733;
  }
}