.cards-item {
  border: 1px solid #DFE0EB;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 32px;
  min-width: 258px;
  transition: .3s all ease;
  &:hover{
    border: 1px solid #3751FF;
    cursor: pointer;
  }
  &:hover &__title,
  &:hover &__count {
    color: #3751FF;
  }
  &__title {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #9FA2B4;
    margin-bottom: 12px;
  }
  &__count {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #252733;
  }
}