.content {
  &__inner {
    position: absolute;
    left: 283px;
    flex-grow: 1;
    width: 1185px;
    padding: 30px 35px 32px 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
  }
  &__header-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px; 
    color: #252733;
  }
  &__cards-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}