.content {
  &__inner {
    margin-left: 255px;
    max-width: 1185px;
    width: 100%;
    padding: 30px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
  }
  &__header-title {
    @include content-title;
  }
  &__cards-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__tickets-and-tasks {
    margin-bottom: 30px;
  }
}