.nav {
  &__item {
    display: flex;
    align-items: center;
    padding: 18px 32px;
    background-color: transparent;
    transition: .3s all ease;
    &:hover {
      background: rgba(221, 226, 255, .08);
    }
    &:hover .nav__link {
      color: #DDE2FF;
    }
    &:hover .nav__icon {
      color: #DDE2FF;
      opacity: 1;
    }
    &:active {
      border-left: 3px solid #DDE2FF; 
    }
  }
  &__icon {
    margin-right: 24px;
    color: #9FA2B4;
    opacity: 0.4;
    width: 16px;
    height: 16px;
  }
  &__link {
    @include primary-sidebar-text;
  }
}