.nav {
  &__item {
    display: flex;
    align-items: center;
    padding: 18px 32px;
    background-color: transparent;
    &:hover {
      background-color: #DDE2FF;
      opacity: 0.08;
    }
    &:hover .nav__link {
      color: #DDE2FF;
    }
    & .nav__icon {
      fill: #DDE2FF;
    }
    &:active {
      border-left: 3px solid #DDE2FF; 
    }
  }
  &__icon {
    margin-right: 24px;
  }
  &__link {
    color: #A4A6B3;
  }
}