.tasks {
  &__inner {
    @include section-border;
    padding: 32px 0 8px 0;
    min-width: 546px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 32px;
  }

  &__title {
    @include section-title;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
  }

  &__view {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #3751FF;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    height: 58px;
    align-items: center;
    padding: 0 32px;
    border-bottom: 1px solid #DFE0EB;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__text {
    @include primary-text;
  }

  &__label {
    cursor: pointer;
    position: relative;
    padding-left: 35px;

    & span {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #252733
    }

    & span:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #C5C7CD;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }

  &__checkbox {
    display: none;

    &:checked+span:after {
      background-color: #3751FF;
      transition: all .1s ease-in;
    }

    &:checked+span:before {
      content: url("../../images/active.svg");
      position: absolute;
      left: 0;
      top: 6px;
      width: 10px;
      height: 7px;
      z-index: 3;
    }
  }
}

.create-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0 0;
  height: 58px;
  border-bottom: 1px solid #DFE0EB;

  &__input {
    @include primary-text;
    color: #C5C7CD;
    padding: 0 32px;
    border: none;
    min-width: 430px;
    outline: none;

    &::placeholder {
      color: #C5C7CD;
    }
  }

  &__button {
    width: 24px;
    height: 24px;
    background: #F0F1F7;
    border-radius: 8px;
    border: none;
  }
}
