.ticket {
  &__inner {
    display: flex;
    align-items: center;
    @include primary-padding;
    border-bottom: 1px solid #DFE0EB;
  }

  &__details {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 480px;

    &-info {
      display: flex;
      flex-direction: column;
    }
  }

  &__avatar {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 24px;
  }

  &__message {
    @include primary-text;
    margin-bottom: 4px;
  }

  &__last-updated {
    @include ticket-subtitle-text;
  }

  &__customer {
    width: 100%;
    max-width: 248px;
    display: flex;
    flex-direction: column;

    &-name {
      @include primary-text;
      margin-bottom: 4px;
    }

    &-date {
      @include ticket-subtitle-text;
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 180px;

    &-label {
      @include primary-text;
      margin-bottom: 4px;
    }

    &-time {
      @include ticket-subtitle-text;
    }
  }

  &__priority {
    width: 124px;
  }
}
