.user {
  &__inner {
    display: flex;  
    align-items: center;
  }
  &__icons {
    display: flex;
    height: 32px;
    border-right: 1px solid #DFE0EB;
  }
  &__icon {
    margin-right: 24px;

    &:last-child {
      margin-right: 32px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__name {
    @include primary-text;
    margin-left: 32px;
    text-align: right;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    border: 1.5px solid #DFE0EB;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
    margin-left: 14px;
  }
}